@model List<oxu.az.Models.News>

<div class="main-bottom mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>DÜNYA XƏBƏRLƏRİ</h1>
            </div>
        </div>
        <partial name="_HomePassPartial.cshtml" />
    </div>
</div>
